*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #000000, #004799);
    height: 100vh;
    width: 100%;
}

.app{
    background: linear-gradient(130deg, rgb(134, 238, 241), rgb(247, 146, 163));
    width: 90%;
    max-width: 350px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    font-weight: 600;
    color: white;
    border-bottom: 2px double white;
    padding-bottom: 20px;
    text-align: center;

}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 20px;
    font-weight: 600;
    color: #473030;
}

.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn:hover:not([disabled]){
    background-color: #444343;
    color: #ffffff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: white;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.correct{
    background: rgb(0, 199, 0);
    color: white;
}

.incorrect{
    background: red;
    color: white;
}